@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@import "embla.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.bg-pattern {
  background-color: #000000;
  background-attachment: fixed;
  background-size: cover;
}

::-moz-selection {
  /* Code for Firefox */
  color: #f4f4f4;
  background: #6e0cca;
}

::selection {
  color: #f4f4f4;
  background: #6e0cca;
}

.gradient-background {
  background: linear-gradient(213deg, #b312dd, #ff4e58, #9222d4, #33c2d0);
  background-size: 240% 240%;
  animation: gradient-animation 12s ease infinite;
}

.underlined {
  position: relative;
}

.underlined::after {
  content: "";
  position: absolute;
  bottom: -1.525rem;
  left: -0.5rem;
  right: -0.5rem;
  height: 40px;
  z-index: 0;

  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/664131/underline.svg");
  background-repeat: no-repeat;
}
.mintnowbtn{
    margin: 20px;
    padding: 1rem 3rem;
    background: linear-gradient( 95.19deg, rgba(0, 0, 0, 0.25) 9.07%, #ed7ae1 85.72% );
    box-shadow: 0px 0px 40px rgb(255 0 229 / 70%);
    border-radius: 100px;
    color: #fff;
    text-decoration: none;
    font-family: Lato, sans-serif;
    font-weight: 600;
    font-size: 1.3rem;
    letter-spacing: 0.2rem;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.title{
  font-family: "Bebas neue", cursive;
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 7.1rem;
}

.h-screen {
  height: 100%;
}

.bg-primary {
  --tw-bg-opacity: 1;
  background-color: #000000
}

.spantitle{
  font-family: Lato, sans-serif;
  font-weight: 600;
}

.spantitle2{
  font-family: Lato, sans-serif;
  font-weight: 400;
}

.mintnowbtn:hover{
  background: linear-gradient( 
    185.19deg
    , rgba(0, 0, 0, 0.25) 9.07%, #ed7ae1 85.72% );
    box-shadow: 0px 0px 50px rgba(245, 162, 237, 0.7);
        color: #fff;
}

.header{
  background: linear-gradient(95.19deg,rgba(0,0,0,.25) 9.07%,#ed7ae1ab 85.72%);
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

